/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
.font-face {
    font-family: "思源黑体 Light";
    font-weight: 300;
    src: url("//at.alicdn.com/wf/webfont/PCemECxXakIu/8pnVblEvxQCwkQWtdj8Oe.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/PCemECxXakIu/VoaWJdlVsj3a9uD80L-AR.woff") format("woff");
    font-display: swap;
  }
